# Dataset and checkpoints
dataset_mask/
dataset_512/
dataset_real/
dataset_ai/
Mask_Model/
checkpoints/

# Tests and output
results/
output/

# System related
__pycache__
.DS_Store

# Python envirnment
venv
.venv

# Scripts
prepare_pure_data.py

# Agent
CLAUDE.md 


